body, html {
    scrollbar-width: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  
  .snap-center {
    scroll-snap-align: center;
  }
  
  .grid.configurator {
    display: grid;
    gap: 1.5rem; /* Ajustar espacio entre elementos */
  }

  /* Agregar esto al archivo CSS o en un bloque <style> */
@media (max-width: 640px) {
    /* Ocultar los botones en pantallas pequeñas */
    #prev-btn,
    #next-btn {
      display: none;
    }
  }
  
  @media (min-width: 641px) {
    /* Mostrar los botones en pantallas grandes */
    #prev-btn,
    #next-btn {
      display: inline-flex;
    }
  }

  