---

import Layout from '@/layouts/Layout.astro'
import CardMembers from '@/components/CardMembers'
import users from '../../data/users.json'



---

<Layout title="Detalles de la clase">
  <div class="overflow-hidden bg-white shadow sm:rounded-lg">
    <div class="px-4 py-6 sm:px-6">
      <div class="grid grid-cols-2 gap-4 items-center">
        <h3 class="text-base/7 font-semibold text-gray-900">
          Clase el Lunes 9 a las 9:00 
        </h3>
      </div>
      <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">
        Detalles:
      </p>
    </div>
    <div class="border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Nivel</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0"></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Instructor</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">Mario</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900">Participantes</dt>
          <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2"
            >
                {users.map((user) => (
                    <div>
                        <CardMembers user={user} client:load />
                    </div>
                    
            ))}
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</Layout>
