---
const date: string = Astro.props.date
console.log(date)
---

<di class="relative max-w-sm">
  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
    <svg
      class="w-4 h-4 text-gray-900"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
      ></path>
    </svg>
  </div>
  <input
    id="date-select"
    type="text"
    class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-fuchsia-500 focus:border-fuchsia-500 block w-full ps-10 p-1"
    placeholder="Fecha de la clase"
  />
</di>

<script>
  /*import DatePicker from 'flowbite-datepicker/Datepicker'

  const locales = {
    es: {
      days: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
      daysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
      daysMin: ['D', 'L', 'M', 'X', 'J', 'V', 'S'],
      months: [
        'Enero',
        'Febrero',
        'Marzo',
        'Abril',
        'Mayo',
        'Junio',
        'Julio',
        'Agosto',
        'Septiembre',
        'Octubre',
        'Noviembre',
        'Diciembre'
      ],
      monthsShort: [
        'Ene',
        'Feb',
        'Mar',
        'Abr',
        'May',
        'Jun',
        'Jul',
        'Ago',
        'Sep',
        'Oct',
        'Nov',
        'Dic'
      ],
      today: 'Hoy',
      weekStart: 1,
      clear: 'Limpiar',
      format: 'dd-mm-yyyy'
    }
  }

  const $dateSelector: HTMLElement | null = document.getElementById('date-select')

  const picker = new DatePicker($dateSelector, {
    autohide: true
  })

  Object.assign(picker.constructor.locales, locales)
  picker.setOptions({ language: 'es' })*/
</script>
