---
const { user } = Astro.props
---

<div
  class="relative flex items-center space-x-3 rounded-lg shadow border border-gray-300 px-6 py-5 focus-within:ring-2 focus-within:ring-fuchsia-500 focus-within:ring-offset-2 hover:border-fuchsia-500"
>
  <div class="shrink-0">
    <span
      class={'inline-flex size-10 items-center justify-center rounded-full ' +
        (user.is_admin ? 'bg-red-300' : 'bg-gray-500')}
    >
      <span class="text-lg font-medium text-white">{user['short_name']}</span>
    </span>
  </div>
  <div class="min-w-0 flex-1">
    <div class="focus:outline-none">
      <span aria-hidden="true" class="absolute inset-0"></span>
      <p class="text-sm font-medium text-gray-900">{user.name}</p>
    </div>
  </div>
</div>
